.footer {
  text-align: center;
  padding: 30px;
  background-color: var(--bg);
  color: var(--primary);

  .footer-socials a {
    color: var(--primary);
    font-size: 1.4rem;
    margin-right: 20px;
    transition: color var(--transition-duration);

    &:hover {
      color: var(--highlight);
    }
  }
}